{% extends '::base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block content %}
    {{ macro.alert('dashboard.anime_counter'|transchoice(anime_count), 'info') }}

    <b class="h4">{{ 'dashboard.random_animes'|trans|raw }}</b>
    <div class="row">
        {% for anime in random_animes %}
            <div class="col-md-3">
                <img src="/img/dummy.png" /><br />
                {{ anime.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}