{% extends '::base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url('facemanga_main_admin_index') }}">
                {{ 'admin.dashboard'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('console') }}">
                {{ 'admin.console'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}